<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
</head>
<body>
<span layout:fragment="sub-header">
    What do you want to do?
</span>

<div layout:fragment="content"
     class="container">
    <div>
        <div class="row">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-plus"></span> <a href="addBook.html" th:href="@{/books/init}">Add a new book</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-th"></span> <a href="inventory.html" th:href="@{/books/inventory}">View
                inventory</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>