<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
</head>
<body>
<span layout:fragment="sub-header">
    Add a new book
</span>
<div layout:fragment="content"
     class="container">
        <form id="bookForm"
              th:action="@{/books/save(form)}" th:object="${book}"
              action="#" method="post" role="form"
              class="form-horizontal">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text"
                       th:field="*{title}"
                       th:errorclass="${#fields.hasErrors('title')} ? 'field-error'" class="form-control"/>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-text" />
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text"
                        th:field="*{author}"
                        th:errorclass="${#fields.hasErrors('author')} ? 'field-error'" class="form-control"/>
                <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}  " class="error-text" />
            </div>
            <div class="form-actions pull-right">
                <input type="submit" class="btn btn-primary" value="Create"/>
            </div>
    </form>
</div>
</body>
</html>